beans/src/main/resources/org/ldaptive/beans/spring/spring-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.ldaptive.org/schema/spring-ext"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.ldaptive.org/schema/spring-ext"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <xsd:import namespace="http://www.springframework.org/schema/beans"/>

  <xsd:element name="anonymous-search-authenticator" type="anonymousSearchAuthenticatorType"/>
  <xsd:element name="bind-search-authenticator" type="bindSearchAuthenticatorType"/>
  <xsd:element name="direct-authenticator" type="directAuthenticatorType"/>
  <xsd:element name="ad-authenticator" type="adAuthenticatorType"/>
  <xsd:element name="pooled-connection-factory" type="pooledConnectionFactoryType"/>
  <xsd:element name="connection-factory" type="connectionFactoryType"/>
  <xsd:element name="search-executor" type="searchExecutorType"/>
  <xsd:element name="gssapi-search-authenticator" type="gssapiSearchAuthenticatorType"/>
  <xsd:element name="crammd5-search-authenticator" type="crammd5SearchAuthenticatorType"/>
  <xsd:element name="digestmd5-search-authenticator" type="digestmd5SearchAuthenticatorType"/>
  <xsd:element name="external-search-authenticator" type="externalSearchAuthenticatorType"/>
  <xsd:element name="active-directory-handler" type="activeDirectoryAuthenticationResponseHandlerType"/>
  <xsd:element name="e-directory-handler" type="eDirectoryAuthenticationResponseHandlerType"/>
  <xsd:element name="free-ipa-handler" type="freeIPAAuthenticationResponseHandlerType"/>
  <xsd:element name="password-policy-handler" type="passwordPolicyAuthenticationResponseHandlerType"/>
  <xsd:element name="password-expiration-handler" type="passwordExpirationAuthenticationResponseHandlerType"/>

  <xsd:complexType name="baseAuthenticationResponseHandlerType">
    <xsd:attribute name="id" type="xsd:ID" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="activeDirectoryAuthenticationResponseHandlerType">
    <xsd:complexContent>
      <xsd:extension base="baseAuthenticationResponseHandlerType">
        <xsd:attribute name="maxPasswordAge" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="eDirectoryAuthenticationResponseHandlerType">
    <xsd:complexContent>
      <xsd:extension base="baseAuthenticationResponseHandlerType">
        <xsd:attribute name="warningHours" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="freeIPAAuthenticationResponseHandlerType">
    <xsd:complexContent>
      <xsd:extension base="baseAuthenticationResponseHandlerType">
        <xsd:attribute name="maxPasswordAge" type="xsd:string" use="required"/>
        <xsd:attribute name="warningHours" type="xsd:string" use="required"/>
        <xsd:attribute name="maxLoginFailures" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="passwordPolicyAuthenticationResponseHandlerType">
    <xsd:complexContent>
      <xsd:extension base="baseAuthenticationResponseHandlerType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="passwordExpirationAuthenticationResponseHandlerType">
    <xsd:complexContent>
      <xsd:extension base="baseAuthenticationResponseHandlerType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="anonymousSearchAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="baseSearchAuthenticatorType">
        <xsd:attribute name="usePasswordPolicy" type="xsd:string" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="bindSearchAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="baseBindSearchAuthenticatorType">
        <xsd:attribute name="usePasswordPolicy" type="xsd:string" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="gssapiSearchAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="baseSaslSearchAuthenticatorType">
        <xsd:attribute name="usePasswordPolicy" type="xsd:string" use="optional" default="false"/>
        <xsd:attribute name="saslRealm" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="crammd5SearchAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="baseSaslSearchAuthenticatorType">
        <xsd:attribute name="usePasswordPolicy" type="xsd:string" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="digestmd5SearchAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="baseSaslSearchAuthenticatorType">
        <xsd:attribute name="usePasswordPolicy" type="xsd:string" use="optional" default="false"/>
        <xsd:attribute name="saslRealm" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="externalSearchAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="baseSaslSearchAuthenticatorType">
        <xsd:attribute name="usePasswordPolicy" type="xsd:string" use="optional" default="false"/>
        <xsd:attribute name="saslRealm" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="directAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="pooledConnectionFactoryType">
        <xsd:attribute name="format" type="xsd:string" use="required"/>
        <xsd:attribute name="usePasswordPolicy" type="xsd:string" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="adAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="baseBindSearchAuthenticatorType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="baseSaslSearchAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="baseSearchAuthenticatorType">
        <xsd:attribute name="bindDn" type="xsd:string" use="required"/>
        <xsd:attribute name="authorizationId" type="xsd:string" use="optional"/>
        <xsd:attribute name="qualityOfProtection" type="xsd:string" use="optional"/>
        <xsd:attribute name="mutualAuthentication" type="xsd:string" use="optional"/>
        <xsd:attribute name="securityStrength" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="baseBindSearchAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="baseSearchAuthenticatorType">
        <xsd:attribute name="bindDn" type="xsd:string" use="required"/>
        <xsd:attribute name="bindCredential" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="baseSearchAuthenticatorType">
    <xsd:complexContent>
      <xsd:extension base="pooledConnectionFactoryType">
        <xsd:attribute name="authenticationResponseHandlers" type="xsd:string" use="optional"/>
        <xsd:attribute name="baseDn" type="xsd:string" use="required"/>
        <xsd:attribute name="userFilter" type="xsd:string" use="required"/>
        <xsd:attribute name="subtreeSearch" type="xsd:string" use="optional" default="false"/>
        <xsd:attribute name="allowMultipleDns" type="xsd:string" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="pooledConnectionFactoryType">
    <xsd:complexContent>
      <xsd:extension base="connectionFactoryType">
        <xsd:attribute name="blockWaitTime" type="xsd:string" use="optional" default="3000"/>
        <xsd:attribute name="failFastInitialize" type="xsd:string" use="optional" default="false"/>
        <xsd:attribute name="minPoolSize" type="xsd:string" use="optional" default="3"/>
        <xsd:attribute name="maxPoolSize" type="xsd:string" use="optional" default="10"/>
        <xsd:attribute name="validateOnCheckOut" type="xsd:string" use="optional" default="false"/>
        <xsd:attribute name="validatePeriodically" type="xsd:string" use="optional" default="true"/>
        <xsd:attribute name="validatePeriod" type="xsd:string" use="optional" default="300"/>
        <xsd:attribute name="prunePeriod" type="xsd:string" use="optional" default="300"/>
        <xsd:attribute name="idleTime" type="xsd:string" use="optional" default="600"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="connectionFactoryType">
    <xsd:attribute name="id" type="xsd:ID" use="optional"/>
    <xsd:attribute name="ldapUrl" type="xsd:string" use="required"/>
    <xsd:attribute name="connectTimeout" type="xsd:string" use="optional" default="3000"/>
    <xsd:attribute name="useSSL" type="xsd:string" use="optional" default="false"/>
    <xsd:attribute name="useStartTLS" type="xsd:string" use="optional" default="true"/>
    <xsd:attribute name="trustCertificates" type="xsd:string" use="optional"/>
    <xsd:attribute name="trustStore" type="xsd:string" use="optional"/>
    <xsd:attribute name="trustStorePassword" type="xsd:string" use="optional" default="changeit"/>
    <xsd:attribute name="trustStoreType" type="xsd:string" use="optional" default="JKS"/>
    <xsd:attribute name="provider" type="xsd:string" use="optional" default="org.ldaptive.provider.jndi.JndiProvider"/>
  </xsd:complexType>

  <xsd:complexType name="searchExecutorType">
    <xsd:attribute name="id" type="xsd:ID" use="optional"/>
    <xsd:attribute name="baseDn" type="xsd:string" use="optional" default=""/>
    <xsd:attribute name="searchFilter" type="xsd:string" use="optional"/>
    <xsd:attribute name="returnAttributes" type="xsd:string" use="optional"/>
    <xsd:attribute name="searchScope" type="xsd:string" use="optional" default="SUBTREE"/>
    <xsd:attribute name="timeLimit" type="xsd:string" use="optional" default="0"/>
    <xsd:attribute name="sizeLimit" type="xsd:string" use="optional" default="0"/>
    <xsd:attribute name="binaryAttributes" type="xsd:string" use="optional"/>
    <xsd:attribute name="sortBehavior" type="xsd:string" use="optional" default="UNORDERED"/>
  </xsd:complexType>

</xsd:schema>